<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/users"><h1><%= website.title %></h1></a>
      <p><%= website.description %></p>
    </div>
  </div>
</div>