<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title>WebSite</title>

		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-table/src/bootstrap-table.css">
    <!--<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">-->
		<link rel="stylesheet" href="/assets/bootstrap-table/src/extensions/editable/bootstrap-editable.css">
    <link rel="stylesheet" href="/assets/examples.css">
		<link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  	<link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/assets/jquery.js" ></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  </head>
  <body>
  	
  <%- include('components/nav') %>
  <%- include('components/notification') %>
  <%- include('components/nav-setting') %>
