<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title>User List</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-table/src/bootstrap-table.css">
    <!--<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">-->
		<link rel="stylesheet" href="/assets/bootstrap-table/src/extensions/editable/bootstrap-editable.css">
    <link rel="stylesheet" href="/assets/examples.css">
    
    <script src="/assets/jquery.js" ></script>
    <!--<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>-->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
   
  </head>
  <body>
  	<div class="container">
	    <div id="toolbar">
	        <button id="remove" class="btn btn-danger" disabled>
	            <i class="glyphicon glyphicon-remove"></i> Delete
	        </button>
	    </div>
	    <table id="table"
	           data-toolbar="#toolbar"
	           data-search="true"
	           data-show-refresh="true"
	           data-show-toggle="true"
	           data-show-columns="true"
	           data-show-export="true"
	           data-detail-view="true"
	           data-detail-formatter="detailFormatter"
	           data-minimum-count-columns="2"
	           data-show-pagination-switch="true"
	           data-pagination="true"
	           data-id-field="_id"
	           data-page-list="[10, 25, 50, 100, ALL]"
	           data-side-pagination="server"
	           data-url="/users/data"
	           data-response-handler="responseHandler">
	    </table>
	</div>
	 <script src="/javascripts/users.js"></script>
</body>
</html>
